<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.springapp"/>


    <bean id="helloWorld" name="h1,h2" class="com.springapp.base.hello.HelloWorld"></bean>
    <bean id="helloWorld2" class="com.springapp.base.hello.HelloWorld" p:name="xxx"/>

    <alias name="helloWorld" alias="h3"/>
    <bean id="exampleBean" class="com.springapp.base.hello.ExampleBean">
        <constructor-arg name="ultimateAnswer" value="42"/>
        <constructor-arg name="years" value="7500000"/>

    </bean>
    <bean id="person" class="com.springapp.base.spEL.Person"/>


    <bean id="commandManager" class="com.springapp.base.hello.CommandManager" scope="singleton"/>
    <bean id="command" class="com.springapp.base.hello.Command" scope="prototype"/>

    <bean id="commandManager2" class="com.springapp.base.hello.CommandManager2" scope="singleton">
        <lookup-method name="createCommand" bean="command"/>
    </bean>
</beans>